.notion-emoji {
    display: inline-block !important;
    vertical-align: text-bottom !important;
    width: 1em !important;
    height: 1em !important;
    background-size: contain !important;
    margin: 0 0.1em !important;
}
