body {
    font-family: 'Roboto', sans-serif;
    padding: 20px;
    width: 300px;
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    color: #f4f4f9;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
}

h2 {
    margin: 0 0 10px;
    font-size: 1.8em;
    text-transform: uppercase;
    letter-spacing: 1px;
}

p {
    margin: 0 0 20px;
    line-height: 1.6;
    font-size: 1em;
    padding: 0 10px;
}

.donation-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 12px 20px;
    cursor: pointer;
    border-radius: 25px;
    font-size: 1.1em;
    transition: background-color 0.3s, transform 0.2s;
    width: 100%;
    margin-bottom: 15px;
}

.donation-button:disabled {
    background-color: #666;
    cursor: not-allowed;
    transform: none;
}

.donation-button:not(:disabled):hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.footer {
    font-size: 0.8em;
    color: #ccc;
    margin-top: auto;
}

.footer p {
    margin: 5px 0;
}

.version {
    font-size: 0.7em;
    color: #888;
    margin-top: 5px !important;
}
 
